* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: darkolivegreen;
  color: white;
  padding: 20px;
  text-align: center;
}

div {
  background: gray;
  text-align: center;
  padding: 10px;
}

div a{
  color: black;
  text-decoration: none;
  padding: 20px;
  margin: 40px;
}